body{
    margin: 0;
    padding: 0;
    background-image: url('https://a-static.besthdwallpaper.com/league-of-legends-howling-abyss-wallpaper-2160x1440-98455_40.jpg');
    background-size: cover;                 
    background-position: center;            
    background-repeat: no-repeat;            
    background-attachment: fixed;            
    font-family: sans-serif;
    display:flex;
    flex-direction: row;
}
.pagina{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2D3848;
    max-width: 50vw;
    justify-items: start;
    padding-bottom: 1rem;
    max-height: 100vh;
    height: 100vh;
    width: 50vw;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}
.link{
    font-weight: 800;
    color: rgb(196, 239, 247);
}
.link:hover{
    font-weight: 800;
    color: rgb(144, 228, 243);
    text-decoration: underline solid rgb(196, 239, 247);
}
