.mainBox {
  background-color: #3A4556;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
   margin-top: 3rem;

}



.imagem {
  width: 96px;
  height: 96px;
  border-radius: 0.5rem;
  border: 2px solid white;
  background-color: #3A4556;
  
}

.nomeItem {
  font-size: 1.25rem;
  font-weight: bold;
  color: #f9f9f9;
  text-align: center;
}

.custo {
  color: #ffcc00;
  font-size: 1rem;
}

.boxDescricao {
  background-color: #3A4556;
  color: #dddddd;
  padding: 1.25rem;
  margin-right: 1rem;
  margin-left: 1rem;
  line-height: 1.6;
  font-size: 0.95rem;

}

.boxDescricao > a {
  display: flex;
  margin-bottom: 1rem;
  white-space: pre-line;
}

.custos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 0.75rem;
  margin-top: 1rem;
}

.custos a {
  background-color: #3A4556;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #f0f0f5;
  font-size: 0.9rem;
  border-left: 4px solid #2D3848;
}
.custos a:hover {
  background-color: #2f3e53;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #f0f0f5;
  font-size: 0.9rem;
  border-left: 4px solid #2D3848;
}
.descricaoItem{
    font-size: 1rem;
    font-weight: 700;
}